/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerx {
    width: 1440px;
    height: 5550px;
    display: flex;
    justify-content: center;
    background-color: red;
}
.header {
    height: 734px;
    width: 95.5%;
    margin-top: 30px;
}
.bg_header {
    background-image: url(../img/imgHP.png);
    width: 1377px;
    height: 734px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_bar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding: 20px 20px 0px 20px;
}
.logo {
    margin-left: 40px;
}
.menu {
    margin-top:10px;
}
.menu_list {
    display: flex;
}
.menu_item {
    list-style: none;
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.menu_item a {
    text-decoration: none;
    color: #1B1B1B;
    padding: 20px 20px 0 0;
}
.btnLogin_cart input {
    width: 125px;
    height: 33px;
    background: #3B0EEE;
    border: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-right: 10px;
}
.btnLogin_cart img {
    width: 35px;
    height: 35px;
    margin-top: -5px;
}
.search {
    width: 1236px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.menu_search {
    width: 1020px;
    height: 82px;
    border-bottom: #E1E1E1 1px solid;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
.menu_item a:hover {
    color: #3B0EEE;
}
.menu_search-list {
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: space-around;
}
.menu_search-item {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: -10px;
    padding: 20px 20px 30px 0px;
    align-items: center;
}
.menu_search-item a {
    display: block;
    text-decoration: none;
    color: #1B1B1B;
    padding-left: 15px;
}
.menu_search-list li:first-child {
    border-bottom: #3B0EEE 1px solid;
}
.menu_search-list li:first-child a {
    color: #3B0EEE;
}
.menu_search-list li:hover {
    border-bottom: #3B0EEE 1px solid;
}
.menu_search-list li:hover a {
    color: #3B0EEE;
}
.menu_search-option {
    padding: 40px 40px 0 40px;
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
    box-shadow: #CBCBCB 0px 4px 4px;
}
.btn_option {
    background-color: #fff;
    padding: 0px 20px 25px 0px;
    border-bottom: #E1E1E1 1px solid;
    margin-top: -10px;
}
.btn_domestic {
    background-color: #3B0EEE;
    padding: 5px 10px 10px 10px;
    width: 152px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: #CBCBCB 1px solid;
}
.btn_foreign {
    background-color: #fff;
    padding: 5px 10px 10px 10px;
    width: 152px;
    height: 40px;
    color: #1B1B1B;
    font-weight: bold;
    border-radius: 5px;
    border: #CBCBCB 1px solid;
    margin-left: 20px;
}
.from_search {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-top: 40px;
}
.w200 {
    width: 200px;
}
.form_select {
    width: 200px;
    height: 50px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding-left: 39px;
    font-size: 16px;
    font-weight: bold;
}
.btn_start img {
    width: 32px;
    height: 32px;
    position: relative;
    left: 3px;
    bottom: 40px;
}
.btn_destination img {
    width: 32px;
    height: 32px;
    position: relative;
    left: 3px;
    bottom: 40px;
}
.btn_date img {
    width: 30px;
    height: 30px;
    position: relative;
    left: 3px;
    bottom: 40px;
}
.btn_search {
    display: flex;
}
.btn_search input{
    width: 100%;
    height: 50px;
    background: #3B0EEE;
    border: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 40px;
    padding-right: 25px;
}
.btn_search img {
    width: 24px;
    height: 24px;
    margin-top: 40px;
    position: relative;
    left: -45px;
    bottom: -13px;
}
.content {
    width: 1236px;
    height: 2000px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: #3B0EEE;
}
.uudai {
    margin-top: 100px;
    background-color: #fff;
    height: 500px;
}
.title_uudai {
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    color: #1B1B1B;
}





